@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Lato:wght@100&display=swap');

:root {
    --main-bg-color: #2874f0;
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
}

.logo img {
    width: 88px;
    padding: 0 25px;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 23px;

}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bolder;
    color: black;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 300px;
    height: 27px;
    border-radius: 6px;
    margin: 0 10px 0 56px;
    padding: 0 15px;
}

i {
    position: absolute;
    margin: 340px;
    color: blue;
}

.search button {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.search button:hover {
    font-weight: bolder;
    color: black;
}

.slider {
    width: 80vw;
    margin: 12px auto;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}